 /* common style for all */
 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     font-family: 'Lato', sans-serif;
 }

 .btn {
     border-radius: 8px;
     background: #E55473;
     padding: 20px 35px;
     border: none;
     color: white;
     cursor: pointer;
 }

 .primary-clr {
     color: #E55473;
 }



 /* styles for banner */

 .banner-container {
     display: flex;
     height: 100vh;
     justify-content: space-around;
     align-items: center;
     background: rgba(229, 84, 115, 0.10);
 }

 .banner-img {
     width: 500px;
     height: 650px;

     margin-bottom: -10px;
     margin-right: 50px;

 }

 .banner-info {
     margin-left: 100px;
 }

 .banner-title {
     color: #272727;

     font-size: 80px;

     font-weight: 800;
     padding-bottom: 30px;
 }

 .banner-description {
     color: rgba(39, 39, 39, 0.60);

     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     padding-bottom: 30px;
 }

 /* style for featured section */
 .featured {
     margin-top: 150px;
     margin-bottom: 100px;
     margin-left: 100px;
     margin-right: 100px;
 }

 .box {
     text-align: center;
 }

 .box-container {
     display: flex;
     justify-content: space-around;
     gap: 5px;
 }

 .box-img {
     width: 260px;
     height: 380px;
     margin-top: 110px;
 }

 .box-name {
     color: #272727;
     padding-top: 15px;
     font-size: 24px;
     text-decoration: underline;
 }


 .flower-bg {
     width: 410px;
     height: 490px;
     text-align: center;
     border-radius: 300px 300px 0px 0px;


 }

 .clr-1 {

     background: rgba(167, 33, 98, 0.15);
 }

 .clr-2 {
     background: rgba(5, 151, 160, 0.15);
 }

 .clr-3 {
     background: rgba(71, 125, 17, 0.15);
 }

 /* group */

 .group {
     margin-top: 120px;
     height: 320px;
     border-radius: 8px;
     background: rgba(39, 39, 39, 0.05);

 }

 .icon-container {
     display: flex;
     justify-content: space-around;

 }

 .icon-group {
     padding-top: 100px;
     text-align: center;
 }

 /* deal section */

 .deal-title {
     color: #272727;
     font-size: 44px;
     padding-left: 10px;
     font-weight: 800;
     padding-bottom: 25px;

 }


 .deal-info {
     text-align: center;
 }



 .deal-description {
     color: rgba(39, 39, 39, 0.60);
     padding-bottom: 30px;

     font-size: 18px;

     font-weight: 400;

 }

 .deal-img {
     width: 318px;
     height: 420px;
     margin-right: 150px;


 }

 .insta-sub {
     margin-left: 80px;
     margin-right: 80px;
 }

 .insta {
     margin-top: 100px;

 }


 .insta-info {
     text-align: center;
 }

 .insta-title {
     color: #272727;

     font-size: 40px;

     font-weight: 800;
     padding-bottom: 25px;


 }

 .insta-des {
     color: rgba(39, 39, 39, 0.60);

     font-size: 18px;

     font-weight: 400;
     padding-bottom: 48px;


 }

 .insta-img {
     width: 300px;
     height: 350px;
     border-radius: 3px;

 }

 .insta-img-container {
     display: flex;
     justify-content: space-around;
     gap: 30px;

 }

 /* subscription section */

 .subscription {
     margin-top: 120px;

     border-radius: 8px;
     margin-bottom: 120px;




 }

 .bg-img {
     background-image: url("./assets/Rectangle\ 9.png");
     height: 449px;

 }

 .sub-title {
     color: #272727;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     padding-top: 120px;
     padding-bottom: 20px;

 }

 .sub-des {
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     padding-bottom: 40px;


 }

 .email-container {
     text-align: center;
 }

 #email-input {
     background-color: #FFFFFF;
     width: 700px;
     height: 55px;
     border: none;
     border-radius: 8px;
     margin-right: 10px;

 }


 /* footer section */

 .footer {
     background-color: #111010;

     height: 449px;
     color: white;
     text-align: center;


 }

 .footer-title {
     padding-top: 120px;
     padding-bottom: 25px;
 }

 .footer-des {
     color: rgba(255, 255, 255, 0.90);
     padding-top: 20px;
     padding-bottom: 25px;
     font-size: 18px;

 }

 .footer-end {
     color: rgba(255, 255, 255, 0.40);

     font-size: 16px;

 }

 /* customer review */

 .customer-img {
     height: 200px;
     width: 200px;
     border-radius: 100px;
 }

 .review-container {
     display: flex;
     justify-content: space-around;
     padding: 80px;
     gap: 80px;
 }

 .customer-review {
     color: rgba(39, 39, 39, 0.60);
     background: rgba(229, 84, 115, 0.10);
 }

 .review-title {
     padding: 50px;
     text-align: center;
     color: black;
     font-size: 55px;
 }

 .review {
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 20px;
     margin-bottom: 50px;
 }