 /* common style for all */
 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     font-family: 'Lato', sans-serif;
 }

 .btn {
     border-radius: 8px;
     background: #E55473;
     padding: 20px 40px;
     border: none;
     color: white;
 }

 .primary-clr {
     color: #E55473;
 }

 .btn {}

 /* styles for banner */

 .banner-container {
     display: flex;
     height: 100vh;
     justify-content: space-around;
     align-items: center;
     background: rgba(229, 84, 115, 0.10);
 }

 .banner-img {
     width: 500px;
     height: 650px;

     margin-bottom: -67px;
     margin-right: 50px;

 }

 .banner-info {
     margin-left: 100px;
 }

 .banner-title {
     color: #272727;

     font-size: 80px;

     font-weight: 800;
     padding-bottom: 30px;
 }

 .banner-description {
     color: rgba(39, 39, 39, 0.60);

     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     padding-bottom: 30px;
 }

 .deal-title {
     color: #272727;
     font-size: 44px;
     padding-left: 10px;
     font-weight: 800;
     padding-bottom: 25px;

 }

 .deal-info {
     text-align: center;
 }



 .deal-description {
     color: rgba(39, 39, 39, 0.60);
     padding-bottom: 30px;

     font-size: 18px;

     font-weight: 400;

 }

 .deal-img {
     width: 318px;
     height: 420px;
     margin-right: 150px;


 }

 .insta {
     margin-top: 100px;
     margin-left: 240px;
     margin-right: 240px;
 }


 .insta-info {
     text-align: center;
 }

 .insta-title {
     color: #272727;

     font-size: 40px;

     font-weight: 800;
     padding-bottom: 25px;


 }

 .insta-des {
     color: rgba(39, 39, 39, 0.60);

     font-size: 18px;

     font-weight: 400;
     padding-bottom: 48px;


 }

 .insta-img {
     width: 342px;
     height: 396px;
     border-radius: 3px;

 }

 .insta-img-container {
     display: flex;
     justify-content: space-around;
     gap: 24px;

 }

 .subscription {
     margin-left: 40px;
     margin-right: 40px;
     border-radius: 8px;



 }

 .bg-img {
     background-image: url("Flower\ Asset/")
 }



 /* footer section */

 .footer {
     background-color: #111010;

     height: 449px;
     color: white;
     text-align: center;


 }

 .footer-title {
     padding-top: 120px;
     padding-bottom: 25px;
 }

 .footer-des {
     color: rgba(255, 255, 255, 0.90);
     padding-top: 20px;
     padding-bottom: 25px;
     font-size: 18px;

 }

 .footer-end {
     color: rgba(255, 255, 255, 0.40);

     font-size: 16px;

 }